/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #4b3b06;
    background-color: #7adfae;
  }

.special {
  background-color: #1c4fc7;
  border: double 30px brown;
  color: yellow;
  font-weight:300 bold;
}
