/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 5px #4b3b06;
  background-color: #7adfae;
}

input[type="number"] {
  width: 40px;
}
input[type="text"] {
  width: 100px;
}

input#max {
  width: 60px;
}

table {
  padding: 20px;
}

input, button {
  font-size: 90%;
}

#output.cols {
  -webkit-column-width: 200px; /* Chrome, Safari, Opera */
  -moz-column-width: 200px; /* Firefox */
  column-width: 200px;
}