/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px #2141cf;
    background-color: #a83939;

  }

  h1 {color:yellow;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-size: 300%
  }

  h1, h2, h3 {font-family: 'Times New Roman', Times, serif
  }
  h1, h2, h3 {font-weight: 800;}




  
  
