/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 900px;
  margin-top: 10px;
  background-color: #a2b1ae;
  border-style: double solid 3px #af6975;
}

img {
border: double 5px #af6975;
float: right;
}

.image-container {
  position: relative;
}


.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);}

.name {
  position: absolute;
  font-weight: bold;
  font-family: "Times New Roman", serif;
  text-align: center;
  margin: 20px;
}